<!DOCTYPE html>
<html>
<head>
    <script src="../js/lib/angular.js"></script>
    <script src="../js/serviceInjection/serviceInjection.js"></script>
    <style>
        .error {color: #f66;}
    </style>
</head>
    <body ng-app="serviceInjectionApp">

        <div ng-controller="ctrl">
            <h1>{{title}}</h1>

            <p ng-cloak ng-show="error" class="error">{{errorString}}</p>

            <div>

                <input type="number" ng-model="num1" />
                +
                <input type="number" ng-model="num2" />

            </div>

            <div>

                <button ng-click="crunchNumbers()">Crunch Numbers</button>

            </div>

            <div>
                <input type="number" ng-model="num3" />
            </div>
        </div>

    <br/><br/><br/>
    <a href="injectionTypes.html">Back to Injection Types</a>
    <a style="float: right;" href="otherInjection.html">Other Injection Types</a>
    </body>
</html>
